*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  margin: 1px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}

.content__list {
  width: 100%;
  display: grid;
  position: relative;
  gap: 30px;
  height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 1px;

}

.content__list-item {
  padding: 2px;
  width: 390px;
}

.title {
  margin-bottom: 24px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFF;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.content__video-card-description {
  line-height: 16.2px;
}

.result {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.result__video {
  height: 386px;
  width: 100%;
  object-fit: cover;
}

.result__video-container {
  display: flex;
  position: relative;
  margin-bottom: 16px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px 194px;
}

.search-form {
  width: 100%;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 5px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  width: fit-content;
}

.button:hover,
.content__video-card:hover,
.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__textfield {
  min-width: 225px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: none;
  border-right: none;
  appearance: none;
  background-color: transparent;
  color: #FFF;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button {
  padding: 6px 140px;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 73px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  margin-top: 2px;
  margin-left: 2px;
  width: 19px;
  height: 19px;
  outline: 1px solid #FFF;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:focus,
.search-form__textfield:focus {
  outline: none;
}

.search-form__label:focus, .button:focus, .content__card-link:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__submit-button:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #FFF;
}

.more-button {
  width: 100%;
  display: flex;
  align-self: center;
}

.more-button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
  margin: 1px;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 0px;
  margin: 1px;
}

input[type='checkbox']:checked + span {
  border: 2px solid #1b1919;
  background-color: #FFF;
}

.content__card-link_current,
.button:active, 
.content__card-link:active {
  background-color: #545050;
}
 